fieldset{
  margin: 2em 0;
  padding: 1em 2em;
  border: solid 1px #ccc;
  border-radius: 6px;
  width: 210px;
}

legend{
  font-size: 1.75em;
  padding: 0, .25em;
  color: #999;
}

.hidden{
  display: none;
}

.board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  position: relative;
}

@keyframes drop {
  0%{top: -350px;}
  100%{top: 0px}
  
}

.piece {
  border-radius: 50%;
  margin: 5px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  animation-name: drop;
  animation-duration: 1s;

}

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

button{
  padding: .5em;
  border: solid 1px #999;
  padding: .5em 1em;
  border-radius: 6px;
  background-color: #333;
  color: #fff;
  font-size: .8em;
}

button:hover{
  background-color: #666;
}

#ai {
  background-color: blue;
}
#ai:hover{
  background-color: rgb(123, 165, 255);
}

#vs{
  background-color: red;
}

#vs:hover{
  background-color: rgb(253, 101, 101);
}